<table class=tblifts>
  <thead>
    <tr>
      <th>Date</th>                    
      <th>Day</th>                    
      <th>Lifts</th>
      <th>Times</th>
    </tr>
  </thead>
  <tbody> 
    <% result.each do |date, lifts| %>
    <tr>
      <td><%= lifts.first.date %></td>
      <td><%= lifts.first.weekday %></td>
      <td><%= lifts.count %></td>
      <td><%= lifts.map(&:time).join('&nbsp'*3) %>
    </tr>
    <% end %>
    <tr><td colspan="2">Total:</td><td><%= result.values.map(&:count).reduce(:+) %></td><td></td></tr>
  </tbody>
</table>